@{
    ViewData["Title"] = "Add Movie";
}

@model Mission4Assignment_ZM.Models.MovieAdd

<h1>Add a movie here!</h1>


<div>

    <div asp-validation-summary="All"></div>


    <form method="post">
        <label asp-for="Title">Movie Name:</label>
        <input asp-for="Title" required />
        <br />

        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" required>
            <option value="">Choose the movie category!</option>
            @foreach (Category h in ViewBag.Categories)
            {
                <option value="@h.CategoryId">@h.CategoryName</option>
            }
        </select>

        <br />
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" required />

        <br />
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" required />

        <br />

        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>

        <br />

        <label asp-for="Edited">Edited?:</label>
        <select asp-for="Edited">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>

        <br />

        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" />

        <br />

        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" maxlength="25" />

        <br />

        <button type="submit">Add now!</button>
    </form>
</div>